@model SonProductRegistration.Web.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_secureAdmin.cshtml";
}

<div id="admin-company-dashboard-component">

    <div class="vatebra-pageheader">
        <ol class="breadcrumb vatebra-breadcrumb text-white">
            <li class="breadcrumb-item text-white"></li>
            <li class="breadcrumb-item text-white font-weight-bold" aria-current="page">Dashboard</li>
        </ol>
        <h2 class="vatebra-pagetitle text-uppercase text-primary text-shadow-sm">Dashboard</h2>
    </div>

    <div class="row row-xs d-flex">
        <div class="col-sm-6 col-lg-3">
            <div class="card card-status bg-purple text-white border-0 shadow-lg">
                <div class="media">
                    <i class="icon ion-thumbsup"></i>
                    <div class="media-body">
                        <h1 class="text-white">@Model.TotalApplicationApproved</h1>
                        <p>Total  Application Approved</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-sm-t-0">
            <div class="card card-status bg-teal text-white border-0 shadow-lg">
                <div class="media">
                    <i class="icon ion-thumbsdown"></i>
                    <div class="media-body">
                        <h1 class="text-white" id="registredProductCount">@Model.TotalApplicationDecline</h1>
                        <p>Total Application Declined</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-status bg-white border-0 shadow-lg">
                <div class="media tx-primary">
                    <i class="icon ion-android-hand tx-primary"></i>
                    <div class="media-body">
                        <h1 class="tx-primary">@Model.TotalAwaitingPayment</h1>
                        <p>Total Awaiting Payment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3 mg-t-10 mg-lg-t-0">
            <div class="card card-status bg-pink text-white border-0 shadow-lg">
                <div class="media">
                    <i class="icon ion-ios-analytics"></i>
                    <div class="media-body">
                        <h1 class="text-white">@Model.TotalDefaulters</h1>
                        <p>Total Defaulters</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-divider mt-3 mb-3"></div>

    <div class="card shadow-lg mb-3">
        <div class="p-3">
            <h5 class="card-title">Income Generated</h5>
        </div>
        <div class="pl-3 pr-3 height-50px">
            <div class="d-flex w-100">
                <div class="d-flex w-50">
                    <div mat-date-picker class="max-width-150px mr-2 mb-2 mat-date-picker form-group">
                        <div class="label margin-bottom-5px font-weight-bold">Start Date:</div>
                        <div class="w-100">
                            <input type="text" class="form-control" id="start-date-picker" placeholder="">
                        </div>
                    </div>

                    <div mat-date-picker class="max-width-150px mr-2 mb-2 mat-date-picker form-group">
                        <div class="label margin-bottom-5px font-weight-bold">End Date:</div>
                        <div class="w-100">
                            <input type="text" class="form-control" id="end-date-picker" placeholder="">
                        </div>
                    </div>

                    <div class="">
                        <button type="submit" id="search-products-button" class="btn height-42px btn-primary mb-2">
                            <i class="ion-refresh text-20px line-height-20px mr-1 float-left"></i>
                            <span class="line-height-20px float-left">Reload</span>
                        </button>
                    </div>
                </div>
                <div class="w-50">
                    <div class="float-right">
                        <button type="submit" id="search-products-button" class="btn btn-info mb-2">
                            <i class="ion-ios-analytics text-20px line-height-20px mr-1 float-left"></i>
                            <span class="line-height-20px float-left">View Detailed Reports</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="dropdown-divider mb-2"></div>
        <div class="card-body d-flex">
            <div class="w-75 mr-4">
                <canvas id="income-generated-analytics-chart"></canvas>
            </div>
            <div class="min-width-370px pt-0">
                <div class="mb-5">
                    <div>TOTAL AMOUNT:</div>
                    <div>
                        <h2 class="text-dark font-weight-bolder">NGN247,450,700.01</h2>
                    </div>
                </div>
                <div class="mt-5">
                    <canvas id="income-generated-pie-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex">
        <div class="w-50 mr-2 p-0">
            <div class="card shadow-lg mb-0 height-400px">
                <div class="card-body">
                    <h5 class="card-title">Monthly Registered Products Analytics</h5>
                    <canvas id="poduct-analytics-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="w-50 ml-2 p-0">
            <div class="card shadow-lg height-400px">
                <div class="card-body">
                    <div class="d-flex">
                        <div class="w-50">
                            <h5 class="card-title mb-5">
                                <i class="float-left mr-2 icon ion-cube text-30px"></i>
                                <span class="float-left line-height-35px">Product Application Status</span>
                            </h5>
                        </div>
                    </div>
                    <div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pending</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Awaiting Payment</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Approved</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Scheduled Inspection</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="width-20px">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col" class="">Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var pendingCounter = 1;
                                        }
                                        @foreach (var item in Model.PendingApplications)
                                        {
                                        <tr class="cursor-pointer">
                                            <th scope="row">
                                                @pendingCounter
                                            </th>
                                            <td>
                                                <div>@item.ProductName</div>
                                                <small>Reg. #: @item.ReferenceNumber</small>
                                            </td>
                                            <td>@item.Company.CompanyName</td>
                                        </tr>
                                            pendingCounter += 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="width-20px">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col" class="">Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var awaitingPaymentCounter = 1;
                                        }
                                        @foreach (var item in Model.AwaitingPayments)
                                        {
                                            <tr class="cursor-pointer">
                                                <th scope="row">
                                                    @awaitingPaymentCounter
                                                </th>
                                                <td>
                                                    <div>@item.ProductName</div>
                                                    <small>Reg. #: @item.ReferenceNumber</small>
                                                </td>
                                                <td>@item.CompanyName</td>
                                            </tr>
                                            awaitingPaymentCounter += 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="width-20px">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col" class="">Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var approvedProductCounter = 1;
                                        }
                                        @foreach (var item in Model.ApprovedProducts)
                                        {
                                            <tr class="cursor-pointer">
                                                <th scope="row">
                                                    @approvedProductCounter
                                                </th>
                                                <td>
                                                    <div>@item.ProductName</div>
                                                    <small>Reg. #: @item.ReferenceNumber</small>
                                                </td>
                                                <td>@item.CompanyName</td>
                                            </tr>
                                            approvedProductCounter += 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="width-20px">#</th>
                                            <th scope="col">Product Name</th>
                                            <th scope="col" class="">Company</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var scheduledInspectionCounter = 1;
                                        }
                                        @foreach (var item in Model.ApplicationsScheduledForInspection)
                                        {
                                            <tr class="cursor-pointer">
                                                <th scope="row">
                                                    @scheduledInspectionCounter
                                                </th>
                                                <td>
                                                    <div>@item.ProductName</div>
                                                    <small>Reg. #: @item.ReferenceNumber</small>
                                                </td>
                                                <td>@item.CompanyName</td>
                                            </tr>
                                            scheduledInspectionCounter += 1;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex">
        <div class="w-50 mr-2 p-0">
            <div class="card shadow-lg mb-0 height-400px">
                <div class="card-body">
                    <h5 class="card-title">Certificates Issued</h5>
                    <canvas id="certificates-issued-chart"></canvas>
                </div>
            </div>
        </div>
        <div class="w-50 ml-2 p-0">
            <div class="card shadow-lg mb-0 height-400px">
                <div class="card-body">
                    <h5 class="card-title">Due For Renewal</h5>
                    <canvas id="poduct-analytics-chart-2"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-3 d-flex">
        <div class="w-50 mr-2 p-0">
            <div class="card shadow-lg mb-0 height-400px">
                <div class="card-body">
                    <h5 class="card-title">Monthly Approval</h5>
                    <canvas id="poduct-analytics-chart-1"></canvas>
                </div>
            </div>
        </div>
        <div class="w-50 ml-2 p-0">
            <div class="card shadow-lg mb-0 height-400px">
                <div class="card-body">
                    <h5 class="card-title">Monthly Defaulters</h5>
                    <canvas id="poduct-analytics-chart-3"></canvas>
                </div>
            </div>
        </div>
    </div>


</div>