@using SonProductRegistration.Web.CustomEnum
@model IEnumerable<SonProductRegistration.Web.ViewModels.CompanyProductViewModel>

@{
    ViewBag.Title = "Products Due For Renewal";
    Layout = "~/Views/Shared/_secureAdmin.cshtml";
}

<div id="admin-products-component">
    <div class="vatebra-pageheader">
        <ol class="breadcrumb vatebra-breadcrumb">
            <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">Dashboard</li>
        </ol>
        <h6 class="vatebra-pagetitle text-uppercase">@ViewBag.Title</h6>
    </div>
    <div class="section-wrapper">
        <div id="products-component" class="vatebra-manage-component stackable-panel">
            <div class="panel manage-products-listing-panel" selected id="manage-products-listing-component">
                <div class="d-flex mb-2">
                    <div class="d-flex w-100">
                        <div class="form-group width-30px mb-2 mr-2">
                            <i class="fa fa-filter text-23px line-height-43px height-40px"></i>
                        </div>

                        <div mat-date-picker class="max-width-150px mr-2 mb-2 mat-date-picker form-group">
                            <div class="label margin-bottom-5px font-weight-bold">Start Date:</div>
                            <div class="w-100">
                                <input type="text" class="form-control" id="start-date-picker" placeholder="">
                            </div>
                        </div>

                        <div mat-date-picker class="max-width-150px mr-2 mb-2 mat-date-picker form-group">
                            <div class="label margin-bottom-5px font-weight-bold">End Date:</div>
                            <div class="w-100">
                                <input type="text" class="form-control" id="end-date-picker" placeholder="">
                            </div>
                        </div>

                        <div mat-input-field class="max-width-400px min-width-350px mr-2 mb-2 mat-input-field form-group">
                            <div class="label margin-bottom-5px font-weight-bold">Search:</div>
                            <div class="w-100">
                                <input type="text" class="form-control" id="search-input-field" placeholder="">
                            </div>
                        </div>

                        <div class="">
                            <button type="submit" id="search-products-button" class="btn btn-primary mb-2">Search</button>
                        </div>
                    </div>
                    <div class="width-320px">
                        <div class="d-flex float-right">
                            <button type="submit" id="new-product-registration-button" class="btn btn-primary mb-2">
                                <i class="ion-android-notifications"></i>
                                <span>Send Reminder</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <table id="registered-products-datagridview" class="vatebra-datagridview table table-striped">
                        <thead class="thead-colored bg-success">
                            <tr>
                                <th class="width-60px text-center">
                                    - # -
                                </th>
                                <th class="width-180px">
                                    Expected Date
                                </th>
                                <th>
                                    Product Name
                                </th>
                                <th>
                                    Company
                                </th>
                                <th class="width-210px text-center">Action</th>
                            </tr>
                        </thead>
                        @{
                            var rowCount = 0;
                        }
                        @foreach (var item in Model)
                        {
                            <tr aria-datagrid-row data-product-id="@item.CompanyProductIDAlias" href="/products/details/@item.CompanyProductIDAlias">
                                <td class="text-center">
                                    @Html.Raw(rowCount += 1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateCreated)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ProductName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Company.CompanyName)
                                </td>
                                <td class="text-center">
                                    <div class="d-flex">
                                        <div class="mr-2">
                                            <div class="bg-info padding-top-2px padding-left-2px padding-bottom-2px text-white text-center font-weight-normal rounded-50 overflow-hidden">
                                                <div class="float-left bg-white width-20px height-20px rounded-circle mr-2">
                                                    <i class="ion-information-circled text-info text-15px"></i>
                                                </div>
                                                <div class="float-left padding-right-9px">Details</div>
                                            </div>
                                        </div>
                                        <div class="mr-0">
                                            <div class="bg-success padding-top-2px padding-left-2px padding-bottom-2px text-white text-center font-weight-normal rounded-50 overflow-hidden">
                                                <div class="float-left bg-white width-20px height-20px rounded-circle mr-2">
                                                    <i class="ion-android-notifications text-success text-15px"></i>
                                                </div>
                                                <div class="float-left padding-right-9px">Remind</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
                <div>
                    <nav aria-label="...">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <span class="page-link">Previous</span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active">
                                <span class="page-link">
                                    2
                                    <span class="sr-only">(current)</span>
                                </span>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="panel product-details-panel" id="product-details-component">
                <div class="product-details-panel width-300px">
                    <h1>Product Details</h1>
                </div>
                <div class="selected-brand-details-panel">

                </div>
            </div>
        </div>
    </div>
</div>

<!-- create or edit product modal -->
<div class="modal fade" id="createoredit-product-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Product Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="createoredit-product-modal-view" class="createoredit-product-modal-view pl-3 pt-0 pr-3 pb-3">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" id="save-product-registration-button" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
