@using SonProductRegistration.Web.CustomEnum;
@using System.Collections;

@model SonProductRegistration.Web.ViewModels.CompanyProductBrandInspectedViewModel

@{
    /**/

    Layout = null;
    var anonymouseBusinessTypeList = ViewBag.BusinessType;
    ArrayList businessTypeList = new ArrayList();
    foreach (var item in anonymouseBusinessTypeList)
    {
        businessTypeList.Add(item);
    }

    dynamic selectedBusinessType = businessTypeList[@Model.BusinessType];
    var baseUrl = ViewBag.BaseUrl as string;

}

<div class="product-brand-details">
    <ul class="nav nav-sidebar">
        <li class="vatebra-accordion-nav-item with-sub">
            <div class="vatebra-accordion-nav-link font-weight-bold text-20px height-60px">
                <div class="w-50 mr-4 header-title">
                    <i class="icon ion-cube float-left mr-3"></i>
                    <span class="line-height-45px float-left">Brand Details</span>
                </div>
                <div class="w-50">
                    <div class="float-right">
                        <button id="approve-button" data-product-id="@Model.CompanyProductID" data-return-url="@baseUrl/admin/pendingproducts" class="btn btn-primary btn-sm p-2">
                            @*<i class="ion-ios-checkmark text-white float-left height-20px line-height-20px"></i>*@
                            <span class="text-13px font-weight-bold float-left height-20px line-height-20px">Approve & Recommend </span>
                        </button>
                        <button id="disapprove-button" data-product-id="@Model.CompanyProductID" data-return-url="@baseUrl/admin/pendingproducts" class="btn btn-danger btn-sm p-2">
                            @*<i class="ion-thumbsdown text-white float-left height-20px line-height-20px"></i>*@
                            <span class="text-13px font-weight-bold float-left height-20px line-height-20px">Disapprove</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="stackable-view-panel-canvax bg-white" id="brand-details-tab">
                <div class="brand-details-panel p-4">
                    <div id="brand-details-section" class="mb-5 ml-4 mr-4">

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Brand Name:</div>
                            <div class="w-75 text-dark">@Model.BrandName</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Product Full Description:</div>
                            <div class="w-75 text-dark">@Model.ProductDescription</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Major Product Components</div>
                            <div class="w-75 text-dark">@Model.ProductComponent</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Warehouse/Factory Address</div>
                            <div class="w-75 text-dark">@Model.FactoryAddress</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Packaging Specifications/Sizes</div>
                            <div class="w-75 text-dark">@Model.PackagingSpecifications</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Type of Business:</div>
                            <div class="w-75 text-dark">@selectedBusinessType.GetType().GetProperty("Title").GetValue(selectedBusinessType, null)</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="vatebra-accordion-nav-item with-sub">
            <div class="d-flex vatebra-accordion-nav-link font-weight-bold text-20px height-60px">
                <div class="w-50 mr-4 header-title">
                    <i class="icon ion-document-text float-left mr-3"></i>
                    <span class="line-height-45px float-left">Documents</span>
                </div>
            </div>
            <div class="stackable-view-panel-canvax bg-white" id="brand-details-tab">
                <div class="brand-details-panel p-4">
                    <div id="brand-details-section" class="mb-5 ml-4 mr-4">
                        <div class="d-flex flex-wrap">
                            @foreach (var item in @Model.Documents)
                            {
                                var productDocument = @ViewBag.BaseUrl + "/image/productphoto/" + item.DocumentID;
                                <div class="card border-0 height-300px mr-3 mb-3 width-240px product-document-item" product-document-item style="background-image: url('@productDocument');">
                                    <div class="width-100px bg-secondary"></div>
                                    <div class="card-body shadow border-1 border-secondary rounded">
                                        <div class="header">
                                            <h5 class="card-title- mb-2">@item.Description</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </li>
        @*<li class="vatebra-accordion-nav-item with-sub">
                <div class="d-flex vatebra-accordion-nav-link font-weight-bold text-20px height-60px">
                    <div class="w-50 mr-4 header-title">
                        <i class="icon ion-card float-left mr-3"></i>
                        <span class="line-height-45px float-left">Payment Details:</span>
                    </div>
                </div>
                <div class="stackable-view-panel-canvax bg-white" id="brand-details-tab">
                    <div class="brand-details-panel p-4">
                        <div id="brand-details-section" class="mb-5 ml-4 mr-4">
                            <div class="d-flex flex-wrap">

                            </div>
                        </div>
                    </div>
                </div>
            </li>*@
        <li class="vatebra-accordion-nav-item with-sub">
            <div class="d-flex vatebra-accordion-nav-link font-weight-bold text-20px height-60px">
                <div class="w-50 mr-4 header-title">
                    <i class="icon ion-information-circled float-left mr-3"></i>
                    <span class="line-height-45px float-left">Inspection Details:</span>
                </div>
            </div>
            <div class="stackable-view-panel-canvax bg-white" id="brand-details-tab">
                <div class="brand-details-panel p-4">
                    <div id="brand-details-section" class="mb-5 ml-4 mr-4">
                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Name of Inspector:</div>
                            <div class="w-75 text-dark">@Model.InspectorFirstName @Model.InspectorLastName</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Date of Inspection:</div>
                            <div class="w-75 text-dark">@Model.DateOfInspection</div>
                        </div>

                        <div class="mb-3 d-flex">
                            <div class="w-35 font-weight-normal text-secondary margin-right-3px">Remarks:</div>
                            <div class="w-75 text-dark">@Model.CommentAndReview</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>