@model SonProductRegistration.Web.Models.Company

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContactPersonEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContactPersonEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessPhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessPhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfIncorporation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfIncorporation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CACNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CACNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WareHouseAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WareHouseAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessAddressLocationCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessAddressLocationCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CertificateOfIncorporationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CertificateOfIncorporationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLastModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLastModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LGA.LGAName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LGA.LGAName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.StateName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
